/* order */
.order {
    padding: 40px 0;
    background: #fff;
    margin-bottom: 20px;
}

.order_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.order_head {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    color: #000;
}

.order_title{
    font-size: 60px;
    font-weight: 400;
}

.order_title:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    text-align: center;
    margin: auto;
    background-color: #eb605a;
}

.order_subtitle {
    font-size: 18px;
    font-weight: 400;     
    color: #333;
    max-width: 230px;
    margin: 15px auto;
    text-align: center;
    padding-bottom: 5px;
}

/* form */
.order_form {
   position: relative;
   max-width: 400px;
   margin: 5px auto 0;
   background: #fff;
}

.form_inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.form_inner input, .form_inner textarea {
    display: block;
    width: 100%;
    background: #f7f7f7;
    justify-content: center;
    align-content: center;
 
    margin: 20px 0;
    padding-left: 10px;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    
    outline: none;
    border: 2px solid  rgba(235, 96, 90, 0.18);
}

.form_inner input[type="submit"]{
    margin: auto;
    justify-content: center;
    width: 80%; 
}

.form_inner input[type="submit"] {
   margin-top: 30px;
   background: rgba(235, 96, 90, 0.72);
   border-bottom: 4px solid #eb605a;
   color: white;
   font-size: 14px;
}

.form_inner textarea {
   resize: none;
}

.form_inner input:focus {
    border: 3px solid #eb605a;
}

.form_inner textarea:focus {
    border: 3px solid #eb605a;
}

.form_inner input[type="submit"]:hover {
  background: rgba(235, 96, 90, 0.48);
}


/* media */
/* medium devices, desktops */
@media only screen and (max-width : 992px) {
   
    .order_title{
    font-size: 40px;
    }

    .order_title:after {
    width: 60px;
    }

    .order_subtitle {
    font-size: 15px;
    padding-bottom: 10px;
    }
    
}

/* small devices, tablets */
@media only screen and (max-width : 768px) {
   

}

/* extra small devices, phones */
@media only screen and (max-width : 480px) {
    

}







